tutorials/cp-integration-convert-message-structure/Source.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="order">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="orderID" type="xs:string" />
              <xs:element name="order">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="orderID" type="xs:string" />
                    <xs:element name="code" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="OrderDate" type="xs:string" />
              <xs:element name="CustomerName" type="xs:string" />
              <xs:element name="CustomerLastName" type="xs:string" />
              <xs:element name="Address" type="xs:string" />
              <xs:element name="ContactNumber" type="xs:string" />
              <xs:element name="items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="item">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ProductID" type="xs:string" />
                          <xs:element name="ProductDescription" type="xs:string" />
                          <xs:element name="Quantity" type="xs:unsignedByte" />
                          <xs:element name="ItemValue" type="xs:unsignedShort" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Shipping" type="xs:unsignedByte" />
              <xs:element name="OrderValue" type="xs:unsignedShort" />
              <xs:element name="ShippingType" type="xs:string" />
              <xs:element name="SpecialPackaging" type="xs:string" />
              <xs:element name="PaymentType" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
