tutorials/cp-integration-convert-message-structure/WarehouseOrder.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="order">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="orderID"/>
              <xs:element type="xs:string" name="OrderDate"/>
              <xs:element type="xs:string" name="CustomerName"/>
              <xs:element type="xs:string" name="HouseNumber"/>
              <xs:element type="xs:string" name="AddressLine1"/>
              <xs:element type="xs:string" name="AddressLine2"/>
              <xs:element type="xs:string" name="City"/>
              <xs:element type="xs:string" name="State"/>
              <xs:element type="xs:string" name="Pin"/>
              <xs:element type="xs:string" name="Country"/>
              <xs:element type="xs:string" name="code"/>
              <xs:element type="xs:string" name="ContactNumber"/>
              <xs:element name="items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="ProductCode"/>
                          <xs:element type="xs:string" name="ProductDetails"/>
                          <xs:element type="xs:string" name="Quantity"/>
                          <xs:element type="xs:string" name="ItemValue"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="Shipping"/>
              <xs:element type="xs:string" name="OrderValue"/>
              <xs:element type="xs:string" name="ShippingType"/>
              <xs:element type="xs:string" name="SpecialPackaging"/>
              <xs:element type="xs:string" name="PaymentType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>